div
{
    background-color:beige;
    text-align: center;
    
}
form
{
    position: center;
}
.table{
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}
.table td,.table th 
{
    border: 1px solid #ddd;
    padding: 8px;
    
}

.table tr:nth-child(even){background-color: antiquewhite;}
.table tr:hover {background-color: rgb(255, 111, 0);}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#f85c0242; /* Green */
    
    color:rgb(11, 11, 11);
}

input{
    width :10cm ;   height: 1cm;
   border-radius: 30px; 

}